.errorBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.errorBoxBtn {
  position: relative;
  padding: 20px 0 0;
}
