.footerMain {
  position: var(--footer-position);
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--dark-background);
  z-index: 1;
}

.footerInner {
  position: relative;
  padding: var(--footer-padding);
}

.footerGrid {
  position: relative;
  display: grid;
  grid-template-columns: var(--footer-grid);
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-self: center;
}

.footerList h4 {
  padding-bottom: 10px;
}

.footerLogo {
  max-width: 100%;
  position: relative;
  filter: brightness(0) invert(1);
}

.footerCopyright {
  position: relative;
  padding: var(--section-toppadding);
}

.footerLogoArea {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footerLink {
  color: var(--white-color);
  white-space: nowrap;
  position: relative;
  font-size: var(--body-fontsize);
}

@media (max-width: 767.98px) {
  .footerGrid {
    gap: 40px;
  }

  .footerList {
    justify-self: start;
  }

  .footerLogo {
    max-width: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .footerList {
    justify-self: start;
  }

  .footerList:nth-child(2) {
    justify-self: center;
  }

  .footerList:nth-child(4) {
    justify-self: center;
  }

  .footerGrid {
    gap: 40px;
  }

  .footerLogo {
    max-width: 160px;
  }
}
